# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore script files
*.slurm
scripts/

# Ignore data and output directories
data/
save/
wandb/

# Ignore compiled outputs and intermediate directories
CLIP-models/
datasets/

# Ignore output files
logs/